USE [master]
GO
/****** Object:  Database [пр13]    Script Date: 14.04.2026 11:13:09 ******/
CREATE DATABASE [пр13]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'пр13', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\пр13.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'пр13_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\пр13_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [пр13].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [пр13]
GO
/****** Object:  Table [dbo].[AdmissionHistory]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmissionHistory](
	[AdmissionHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[AdmissionType] [nvarchar](50) NULL,
	[AdmissionDate] [date] NOT NULL,
	[DonorName] [nvarchar](150) NULL,
	[PurchaseAmount] [float] NULL,
	[DocumentNumber] [nvarchar](50) NULL,
	[Notes] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmissionHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorsCreators]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorsCreators](
	[AuthorsCreatorsID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[BirthYear] [int] NULL,
	[DeathYear] [int] NULL,
	[Biography] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorsCreatorsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exhibitss]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitss](
	[ExhibitsID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryNumber] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[AuthorsCreatorsID] [int] NULL,
	[CreationYear] [int] NULL,
	[Material] [nvarchar](100) NULL,
	[Dimensions] [nvarchar](100) NULL,
	[HallsStoragesID] [int] NULL,
	[ExpositionsID] [int] NULL,
	[AdmissionHistoryID] [int] NULL,
	[Condition] [nvarchar](50) NULL,
	[EstimatedValue] [int] NULL,
	[DateAdded] [date] NULL,
	[ImageData] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExhibitsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expositions]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expositions](
	[ExpositionsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[CuratorName] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpositionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HallsStorages]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HallsStorages](
	[HallsStoragesID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Floor] [int] NULL,
	[Area] [decimal](10, 2) NULL,
	[TemperatureCondition] [nvarchar](50) NULL,
	[HumidityCondition] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[HallsStoragesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RestorationLogs]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RestorationLogs](
	[RestorationID] [int] IDENTITY(1,1) NOT NULL,
	[ExhibitID] [int] NOT NULL,
	[RestorationDate] [date] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Cost] [decimal](18, 2) NULL,
	[MasterName] [nvarchar](150) NULL,
	[CompletionDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RestorationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.04.2026 11:13:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[LastLogin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdmissionHistory] ON 

INSERT [dbo].[AdmissionHistory] ([AdmissionHistoryID], [AdmissionType], [AdmissionDate], [DonorName], [PurchaseAmount], [DocumentNumber], [Notes]) VALUES (1, N'Purchase', CAST(N'2015-03-12' AS Date), N'Частный коллекционер Иванов', 125000, N'DOC-2015-0001', N'Покупка картины на аукционе')
INSERT [dbo].[AdmissionHistory] ([AdmissionHistoryID], [AdmissionType], [AdmissionDate], [DonorName], [PurchaseAmount], [DocumentNumber], [Notes]) VALUES (2, N'Donation', CAST(N'2018-07-23' AS Date), N'Государственный музей', 0, N'DOC-2018-0002', N'Безвозмездная передача')
INSERT [dbo].[AdmissionHistory] ([AdmissionHistoryID], [AdmissionType], [AdmissionDate], [DonorName], [PurchaseAmount], [DocumentNumber], [Notes]) VALUES (3, N'Archaeological', CAST(N'2012-11-05' AS Date), N'Археологическая экспедиция', 0, N'DOC-2012-0003', N'Находка при раскопках')
SET IDENTITY_INSERT [dbo].[AdmissionHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[AuthorsCreators] ON 

INSERT [dbo].[AuthorsCreators] ([AuthorsCreatorsID], [FullName], [Country], [BirthYear], [DeathYear], [Biography]) VALUES (1, N'Леонардо да Винчи', N'Италия', 1452, 1519, N'Великий итальянский художник эпохи Возрождения')
INSERT [dbo].[AuthorsCreators] ([AuthorsCreatorsID], [FullName], [Country], [BirthYear], [DeathYear], [Biography]) VALUES (2, N'Микеланджело Буонарроти', N'Италия', 1475, 1564, N'Итальянский скульптор, живописец, архитектор')
INSERT [dbo].[AuthorsCreators] ([AuthorsCreatorsID], [FullName], [Country], [BirthYear], [DeathYear], [Biography]) VALUES (3, N'Рафаэль Санти', N'Италия', 1483, 1520, N'Итальянский живописец эпохи Высокого Возрождения')
SET IDENTITY_INSERT [dbo].[AuthorsCreators] OFF
GO
SET IDENTITY_INSERT [dbo].[Exhibitss] ON 

INSERT [dbo].[Exhibitss] ([ExhibitsID], [InventoryNumber], [Title], [Description], [AuthorsCreatorsID], [CreationYear], [Material], [Dimensions], [HallsStoragesID], [ExpositionsID], [AdmissionHistoryID], [Condition], [EstimatedValue], [DateAdded], [ImageData]) VALUES (1, N'INV-2024-00001', N'Портрет дамы', N'Уникальный экспонат музейной коллекции', 8, 1678, N'Холст, масло', N'85 x 120 см', 6, 5, 14, N'Good', 125000, CAST(N'2021-03-15' AS Date), 0x89504E470D0A1A0A0000000D49484452000000010000000108060000001F15C4890000000A49444154789C63000100000500010D0A2DB40000000049454E44AE426082)
INSERT [dbo].[Exhibitss] ([ExhibitsID], [InventoryNumber], [Title], [Description], [AuthorsCreatorsID], [CreationYear], [Material], [Dimensions], [HallsStoragesID], [ExpositionsID], [AdmissionHistoryID], [Condition], [EstimatedValue], [DateAdded], [ImageData]) VALUES (2, N'INV-2024-00002', N'Пейзаж с рекой', N'Историческая и художественная ценность', 15, 1823, N'Дерево, темпера', N'120 x 95 см', 3, 8, 7, N'Excellent', 285000, CAST(N'2022-07-22' AS Date), 0x89504E470D0A1A0A0000000D49484452000000010000000108060000001F15C4890000000A49444154789C63000100000500010D0A2DB40000000049454E44AE426082)
INSERT [dbo].[Exhibitss] ([ExhibitsID], [InventoryNumber], [Title], [Description], [AuthorsCreatorsID], [CreationYear], [Material], [Dimensions], [HallsStoragesID], [ExpositionsID], [AdmissionHistoryID], [Condition], [EstimatedValue], [DateAdded], [ImageData]) VALUES (3, N'INV-2024-00003', N'Натюрморт с фруктами', N'Произведение искусства XIX века', 22, 1756, N'Бумага, акварель', N'45 x 60 см', 7, 12, 19, N'Satisfactory', 95000, CAST(N'2020-11-08' AS Date), 0x89504E470D0A1A0A0000000D49484452000000010000000108060000001F15C4890000000A49444154789C63000100000500010D0A2DB40000000049454E44AE426082)
GO
SET IDENTITY_INSERT [dbo].[Exhibitss] OFF
GO
SET IDENTITY_INSERT [dbo].[Expositions] ON 

INSERT [dbo].[Expositions] ([ExpositionsID], [Title], [Description], [StartDate], [EndDate], [CuratorName]) VALUES (1, N'Шедевры эпохи Возрождения', N'Выставка работ великих мастеров Италии XV-XVI веков', CAST(N'2024-01-15' AS Date), CAST(N'2024-06-15' AS Date), N'Иванова А.П.')
INSERT [dbo].[Expositions] ([ExpositionsID], [Title], [Description], [StartDate], [EndDate], [CuratorName]) VALUES (2, N'Импрессионизм и постимпрессионизм', N'Французская живопись конца XIX - начала XX века', CAST(N'2024-02-01' AS Date), CAST(N'2024-07-01' AS Date), N'Петрова М.С.')
INSERT [dbo].[Expositions] ([ExpositionsID], [Title], [Description], [StartDate], [EndDate], [CuratorName]) VALUES (3, N'Русское искусство XVIII-XX веков', N'Классики русской живописи', CAST(N'2024-01-10' AS Date), CAST(N'2024-12-31' AS Date), N'Сидорова Е.В.')
SET IDENTITY_INSERT [dbo].[Expositions] OFF
GO
SET IDENTITY_INSERT [dbo].[HallsStorages] ON 

INSERT [dbo].[HallsStorages] ([HallsStoragesID], [Name], [Type], [Floor], [Area], [TemperatureCondition], [HumidityCondition]) VALUES (1, N'Главный выставочный зал', N'Hall', 1, CAST(500.00 AS Decimal(10, 2)), N'+20°C', N'50%')
INSERT [dbo].[HallsStorages] ([HallsStoragesID], [Name], [Type], [Floor], [Area], [TemperatureCondition], [HumidityCondition]) VALUES (2, N'Зал древнего искусства', N'Hall', 1, CAST(350.00 AS Decimal(10, 2)), N'+18°C', N'45%')
INSERT [dbo].[HallsStorages] ([HallsStoragesID], [Name], [Type], [Floor], [Area], [TemperatureCondition], [HumidityCondition]) VALUES (3, N'Зал живописи XIX века', N'Hall', 2, CAST(400.00 AS Decimal(10, 2)), N'+20°C', N'50%')
SET IDENTITY_INSERT [dbo].[HallsStorages] OFF
GO
SET IDENTITY_INSERT [dbo].[RestorationLogs] ON 

INSERT [dbo].[RestorationLogs] ([RestorationID], [ExhibitID], [RestorationDate], [Description], [Cost], [MasterName], [CompletionDate], [Status]) VALUES (1, 1, CAST(N'2023-05-15' AS Date), N'Реставрация лакового покрытия', CAST(45000.00 AS Decimal(18, 2)), N'Мастеров А.В.', CAST(N'2023-06-20' AS Date), N'Completed')
INSERT [dbo].[RestorationLogs] ([RestorationID], [ExhibitID], [RestorationDate], [Description], [Cost], [MasterName], [CompletionDate], [Status]) VALUES (2, 2, CAST(N'2023-08-20' AS Date), N'Укрепление красочного слоя', CAST(120000.00 AS Decimal(18, 2)), N'Реставраторов Н.П.', CAST(N'2023-10-15' AS Date), N'Completed')
INSERT [dbo].[RestorationLogs] ([RestorationID], [ExhibitID], [RestorationDate], [Description], [Cost], [MasterName], [CompletionDate], [Status]) VALUES (3, 3, CAST(N'2024-01-10' AS Date), N'Очистка поверхности', CAST(28000.00 AS Decimal(18, 2)), N'Мастеров А.В.', NULL, N'InProgress')
SET IDENTITY_INSERT [dbo].[RestorationLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description], [CreatedDate]) VALUES (1, N'Администратор', N'Полный доступ ко всем функциям системы', CAST(N'2026-03-09T12:15:13.203' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description], [CreatedDate]) VALUES (2, N'Менеджер', N'Управление экспонатами и выставками', CAST(N'2026-03-09T12:15:13.203' AS DateTime))
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description], [CreatedDate]) VALUES (3, N'Пользователь', N'Только просмотр и отчеты', CAST(N'2026-03-09T12:15:13.203' AS DateTime))
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [FullName], [Email], [RoleID], [IsActive], [CreatedDate], [LastLogin]) VALUES (1, N'admin', N'hash_admin_123', N'Администратор Системы', N'admin@museum.ru', 1, 1, CAST(N'2026-03-09T12:15:13.207' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [FullName], [Email], [RoleID], [IsActive], [CreatedDate], [LastLogin]) VALUES (2, N'manager1', N'hash_mgr1_456', N'Петрова Мария Сергеевна', N'm.petrova@museum.ru', 2, 1, CAST(N'2026-03-09T12:15:13.207' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [Login], [PasswordHash], [FullName], [Email], [RoleID], [IsActive], [CreatedDate], [LastLogin]) VALUES (3, N'manager2', N'hash_mgr2_789', N'Сидоров Иван Петрович', N'i.sidorov@museum.ru', 2, 1, CAST(N'2026-03-09T12:15:13.207' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Exhibits__D6D65CC882C4720A]    Script Date: 14.04.2026 11:13:09 ******/
ALTER TABLE [dbo].[Exhibitss] ADD UNIQUE NONCLUSTERED 
(
	[InventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B616007E7947F]    Script Date: 14.04.2026 11:13:09 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825BCE1C267B]    Script Date: 14.04.2026 11:13:09 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Exhibitss]  WITH CHECK ADD FOREIGN KEY([AdmissionHistoryID])
REFERENCES [dbo].[AdmissionHistory] ([AdmissionHistoryID])
GO
ALTER TABLE [dbo].[Exhibitss]  WITH CHECK ADD FOREIGN KEY([AuthorsCreatorsID])
REFERENCES [dbo].[AuthorsCreators] ([AuthorsCreatorsID])
GO
ALTER TABLE [dbo].[Exhibitss]  WITH CHECK ADD FOREIGN KEY([ExpositionsID])
REFERENCES [dbo].[Expositions] ([ExpositionsID])
GO
ALTER TABLE [dbo].[Exhibitss]  WITH CHECK ADD FOREIGN KEY([HallsStoragesID])
REFERENCES [dbo].[HallsStorages] ([HallsStoragesID])
GO
ALTER TABLE [dbo].[RestorationLogs]  WITH CHECK ADD FOREIGN KEY([ExhibitID])
REFERENCES [dbo].[Exhibitss] ([ExhibitsID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
USE [master]
GO
